body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: sans-serif, Arial;
}

p {
    margin: 0;
}

.bg-image img {
    height: 100%;
    width: 100%;
}

.bg-image {
    position: relative;
    flex: 1;
    max-height: 100vh;
    overflow: hidden;
}

.form-section {
    flex: 2;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 20%;
    min-height: 12%;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-size: 5em;
}

.odin-logo p {
    font-family: Norse-Bold, Impact, Helvetica, sans-serif;
    margin: 0;
}

.odin-logo img {
    width: 17%;
    height: 17%;
    opacity: 1;
}

.credits {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 1%;
    width: 100%;
    color: white;
    font-size: 0.9em;
    opacity: 0.8;
}

.credits a {
    color: inherit;
}

.form-section {
    background-color: rgb(249, 250, 251);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.intro {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    padding: 0 20% 0 5%;
}

.intro p:last-child {
    position: relative;
    top: 10%;
}

form {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0px 8px 8px 1px #e2e2e2;
    flex: 1;
    padding: 0 20% 0 5%;
    color: rgb(59, 59, 59);
}

.info-section legend {
    font-weight: bold;
    font-size: 1.2em;
}

.sign-up-section {
    flex: 1;
    padding: 0 20% 0 5%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

label {
    font-size: 0.7em;
    font-weight: 700;
    color: rgb(66, 66, 66);
}

input {
    border: 2px solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    border: 1px solid blue;
    outline: none;
    box-shadow: 0px 0px 8px 1px #c4c3c3;
}

input:invalid {
    border: 1px solid red;
    outline: none;
}

button {
    color: white;
    padding: 12px 32px;
    background-color: #596D48;
    border: 1px solid #596D48;
    font-size: 1em;
    font-weight: bold;
    border-radius: 8px;
}

.sign-up-section a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}