body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: sans-serif, Arial;
}
.bg-image img {
    height: 100%;
    width: 100%;
}

.bg-image {
    position: relative;
    flex: 1;
    max-height: 100vh;
    overflow: hidden;
}

.form-section {
    flex: 2;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./Norse-Bold.otf);
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 20%;
    min-height: 12%;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-size: 5em;
}

.odin-logo p {
    font-family: Norse-Bold, Impact, Helvetica, sans-serif;
    margin: 0;
}

.odin-logo img {
    width: 17%;
    height: 17%;
    opacity: 1;
}

.credits {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 1%;
    width: 100%;
    color: white;
    font-size: 0.9em;
    opacity: 0.8;
}

.credits a {
    color: inherit;
}

.form-section {
    background-color: rgb(249, 250, 251);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.intro {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.info-section {
    background-color: white;
    box-shadow: 0px 8px 8px 1px #e2e2e2;
    flex: 1;
}

.sign-up-section {
    flex: 1;
}